* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(70, 4, 4), rgb(5, 5, 49));
    font-family: Arial, Helvetica, sans-serif;
}

.main {

    height: 350px;
    background: linear-gradient(to right, rgb(71, 5, 5, ), rgb(1, 53, 10));
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    gap: 5px;
    margin-top: 50px;

}

.main:hover {
    background: linear-gradient(to right, rgb(2, 29, 1), rgb(58, 3, 41));

}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 5px;
}

.footer a {
    color: #eef1ee;
    text-decoration: none;
    gap: 5px;
}

.footer a:hover {
    text-decoration: underline;
    color: aqua;
}