* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, dark rgb(133, 5, 94), dark rgb(2, 2, 56));
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background: linear-gradient(to left, rgb(65, 6, 6), rgb(6, 36, 6));
    height: 700px;
    color: #eef1ee;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 19px;
}

.main :hover {
    background: linear-gradient(to right, rgb(231, 107, 6), rgb(136, 6, 6));
}

.footer {
    background: linear-gradient(to right, #111111, rgb(15, 1, 1));
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer :hover {
    background: linear-gradient(to right, rgb(27, 0, 0), black);
}

.footer p {
    margin: 5px;
}

.footer a {
    color: #eef1ee;
    text-decoration: none;
    gap: 5px;
}

.footer a:hover {
    text-decoration: underline;
    color: aqua;
}