* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, black, white);
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background: linear-gradient(to right, rgb(153, 0, 153), red);
    height: 350px;
    color: azure;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 5px;
}

.footer a {
    color: #eef1ee;
    text-decoration: none;
    gap: 5px;
}

.footer a:hover {
    text-decoration: underline;
    color: aqua;
}