* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

.navbar {
    background-color: #333;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
}

img {
    height: 49px;
    width: 70px;
    margin-left: 3px;
    border-radius: 40%;
}

img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 50px;
    margin: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;

}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.nav-links a:hover {
    color: rgb(179, 237, 245);
    text-decoration: underline;
}

.search-bar {
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
    display: flex;
    height: 40px;
    width: 250px;

    border-radius: 10px;
}

.search-bar input {
    height: 30px;
    width: 200px;
    border: none;
    margin-left: 10px;
    background-color: wheat;
    border-radius: 10px;
}

.search-bar button {
    height: 30px;
    width: 50px;
    border: none;
    background-color: wheat;
    color: rgb(7, 1, 1);
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: rgb(179, 237, 245);
    transition: 0.3s ease-in-out;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.service {
    background: linear-gradient(to right, #cf0c95, #26c4af);
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    align-items: center;
    color: #ccc;
}

.learn-more {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: linear-gradient(to right, #2dcf0c, #0e0f75);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.service:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.learn-more:hover {
    background: linear-gradient(to right, #b3edf5, #0e0f75);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 5px;
}

.footer a {
    color: #eef1ee;
    text-decoration: none;
    gap: 5px;
}

.footer a:hover {
    text-decoration: underline;
    color: aqua;
}