* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2706e2, #10d423);
}

.navbar {
    background-color: #333;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
}

img {
    height: 49px;
    width: 70px;
    margin-left: 3px;
    border-radius: 40%;
}

img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 50px;
    margin: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;

}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.nav-links a:hover {
    color: rgb(179, 237, 245);
    text-decoration: underline;
}

.search-bar {
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
    display: flex;
    height: 40px;
    width: 250px;

    border-radius: 10px;
}

.search-bar input {
    height: 30px;
    width: 200px;
    border: none;
    margin-left: 10px;
    background-color: wheat;
    border-radius: 10px;
}

.search-bar button {
    height: 30px;
    width: 50px;
    border: none;
    background-color: wheat;
    color: rgb(7, 1, 1);
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.hero-section {
    margin-top: 20px;
    height: 200px;

    background-color: #4CAF50;
    display: flex;

    img[alt="Hero Image"] {
        height: 200px;
        width: 100%;
        border-radius: 0%;
    }
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: white;
}

iframe {
    width: 60%;
    height: 300px;
    border: none;
    margin-top: 40px;
    object-fit: contain;
    border-radius: 30px;
}

iframe:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
    height: 330px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 5px;
}

.footer a {
    color: #eef1ee;
    text-decoration: none;
    gap: 5px;
}

.footer a:hover {
    text-decoration: underline;
    color: aqua;
}